@font-face {
	font-family: "Poppins Light";
	src: url('Poppins-Light.ttf');
}

* {
	box-sizing: border-box;
	border: none;
	font-family: "Poppins Light", sans-serif;
	margin: 0;
	padding: 0;
}

menu, ol, ul {
	padding-left: 0;
}

.container {
	position: relative;
	padding-top: 200px;
}

.major {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.major h1 {
	color: black;
}

.major h4 {
	padding-top: 10px;
}

.profile-pic {
	width: 200px;
	margin-bottom: 23px;
}

.external-links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 10px 0;
}

.external-links a {
	text-decoration: none;
	padding: 0 10px;
	margin: 19px 0;
	color: #666666;
}

.page-links {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.page-links ul li {
	display: inline-block;
	margin: 0 10px;
	text-decoration: underline;
	background-color: #66666612;
	padding: 10px;
	border-radius: 4px;
}

.page-links ul li a {
	color: #666666;
}

.sidebar {
	position: fixed;
	width: 200px;
	height: calc(100% - 120px);
	left: 50px;
	overflow: auto;
	padding-top: 180px;
}
.sidebar ul {
	margin-top: 16px;
	list-style-type: none;
	padding: 0;
}
.sidebar ul li a {
	display: block;
	padding: 10px 20px;
	color: #333;
	text-decoration: none;
}
.sidebar ul li a:hover {
	background-color: #ddd;
}
.content {
	margin-left: 260px;
	padding: 0px 16px;
	max-width: 800px;
	margin-right: auto;
	position: relative;
	top: 100px;
	z-index: -1;
}

.content div {
	scroll-margin-top: 140px;
}

.topnav {
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 20px 16px;
	box-sizing: border-box;
	background-color: white;
}

.restnav {
	display: flex;
	flex-direction: row-reverse;
}

.topnav a {
	float: right;
	display: block;
	color: #333;
	padding: 0 20px;
	font-size: 18px;
	text-decoration: none;
	line-height: 24px;
}
.topnav .name {
	float: left;
	font-size: 40px;
	font-weight: bold;
	font-family: 'Monoton', cursive;
}
.content-section {
	margin-top: 40px;
}

.content-section h2 {
	margin: 20px 0px;
}
.content-section p {
	text-align: justify;
	text-justify: inter-word;
}

@media screen and (max-width: 768px) {

	.container {
		padding-top: 100px;
	}

	.page-links {
		font-size: 12px;
	}

	.sidebar {
		display: none;
	}
	
	.topnav {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.topnav .name {
		margin-bottom: 20px;
	}

	.topnav a {
		margin: 4px 0px;
		font-size: 14px;
	}

	.content {
		margin-left: 0px;
		padding: 0px 25px;
	}

	.content div:first-child {
		padding-top: 115px;
	}

	.content-section h2 {
		text-align: center;
	}
}